@media only screen and (min-width: 767px) {
  .banner figure img {
    max-width: 380px;
  }
}

.box-roundend {
  background: var(--color-white);
  box-shadow: var(--shadow-2);
  border-radius: 39px;
}

.input-control {
  /* background: var(--bg-banner-static-solid); */
  border-radius: 10px;
  padding: .5rem .25rem;
}
.input-control:not(:last-of-type) {
  margin-bottom: .5rem;
}

.input-control input[type="checkbox"] {
  /* appearance: none;
  border: 2px solid var(--color-primary); */
  height: 18px;
  width: 18px;
}

.tooltip {
  cursor: pointer;
  display: inline-block;
  position: relative;
  margin-left: .5rem;
}
.tooltip svg {
  height: 22px;
  width: 22px;
  vertical-align: middle;
  transform: translateY(-1px);
}
.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
  transition: opacity .65s;
}
.tooltip-text {
  background: #D9E3FC;
  border-radius: 13px;
  color: #2F4DAA;
  font-size: 15px;
  position: absolute;
  text-align: center;
  max-width: 210px;
  width: 200px;
  padding: .75rem .5rem;
  left: 0;
  bottom: 240%;
  opacity: 0;
  /* transition: opacity .75s; */
  visibility: hidden;
  /* transform: translateX(-75%); */

}
.tooltip-text::before {
  content: " ";
  border: 7px solid transparent;
  border-top-color: #D9E3FC;
  left: 50%;
  margin-left: -12px;
  position: absolute;
  top: 100%;
}

@media only screen and (min-width: 340px) {
  .tooltip-text {
    bottom: 180%;
    left: 50%;
    /* margin-left: 12px; */
    transform: translateX(-75%);
  }
  .tooltip-text::before {
    margin-left: 0;
    left: 71%;
    
  }
}
@media only screen and (min-width: 767px) {
  .tooltip-text {
    bottom: 165%;
    transform: translateX(-45%);
  }
  .tooltip-text::before {
    left: 50%;
    margin-left: -17px;
  }
}

.control-error.ds-flex {
  gap: .25rem .5rem;
}
.control-error {
  border: 2px solid var(--color-error);
}
.txt-error {
  color: var(--color-error);
}

.error-msg {
  display: none;
  color: var(--color-error);
  width: 100%;
}
.control-error .error-msg {
  display: block;
}

.values {
  background: var(--bg-banner-static-solid);
  box-shadow: var(--shadow-2);
  border-radius: 16px;
  margin: 1.5rem 0;
  padding: 1.5rem 0rem;
}

#price-uf {
  font-size: 1.75rem;
  font-weight: bold;
}
#price-clp {
  font-size: 1.25rem;
}
#date-uf {
  font-weight: 600;
}

@media only screen and (min-width: 576px) {
  .values {
    margin: 2rem auto;
    max-width: 325px;
  }
}

.seguros {
  background: var(--bg-dark-sky-blue);
  border-radius: 9px;
  margin-left: -0.5rem;
  padding-left: 0.5rem;
  margin-right: -0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}