header {
  background-color: var(--color-primary);
  height: 85px;
}

main {
  background: #2F48A7;
  color: var(--color-white);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-white);
}

.categories-menu {
  background-color: #162F60;
  border-radius: 23px;
  box-shadow: var(--shadow-submenu);
  padding: .8rem 0;
}

.categories-menu__choice, .categories-menu__item {
  padding: 0 1rem;
}

/* #btn-collapse { font-weight: 600; } */
.categories-button {
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  font-family: var(--font-family-title);
  font-size: inherit;
  width: 100%;
}
.categories-button__icon { max-width: 35px; }
.categories-button__txt { 
  /* transform: translateY(-.5px); */
  margin-left: 4px;
  font-size: .95rem;
}

.categories-button__arrow {
  height: 20px;
  width: 20px;
  position: relative;
  margin-left: auto;
}
.categories-button__arrow::after {
  content: "";
  background-image: url("https://www.buk.cl/hubfs/2022/Icons/keyboard_arrow_down_white_36dp.svg");
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  transition: transform ease .6s;
}
.categories-button__arrow.rotate::after {
  transform: rotate(540deg);
}

.categories-menu__options {
  /* display: none; */
  height: 0;
  overflow: hidden;
  transition: height ease .6s;
}
/* .categories-menu__options.show {
  display: block;
} */

.categories-menu__options ul {
  /* background-color: cornflowerblue; */
  margin: .5rem 0;
  border-top: 2px solid #40557D;
}

.categories-menu__item {
  padding-top: .3rem;
  padding-bottom: .3rem;
}

.categories-menu__item.target-selected {
  background: rgba(0, 0, 0, .37);
}

[data-categories-content] {
  display: none;
}
.target-active[data-categories-content] {
  display: block;
  animation: showTarget 1.3s ease-in-out;
}

@keyframes showTarget {
  from { opacity: 0; }
  to { opacity: 1;; }
}

/* Carousel styles */
.category-carousel .swiper-slide {
  background: transparent;
}

.category-carousel__img {
  border-radius: 8px;
}

.category-carousel .swiper-pagination {
  position: static;
}

.category-carousel .swiper-pagination-bullet {
  background: #C0CDFC;
  transition: .5s ease;
  height: .7rem;
  width: .7rem;
}

/* .categories-menu.categories-menu--desktop {
  display: none;
} */

/* .category-tab-carousel {
  height: 0;
}

.category-tab-carousel .swiper-wrapper {
  position: initial;
  width: initial;
  height: initial;
  transform: initial;
  z-index: initial;
  display: initial;
  box-sizing: border-box;
} */
@media only screen and (max-width: 375px) {
  .categories-button__txt {
    font-size: .80rem;
  }
}

@media only screen and (min-width: 1020px) {
  .categories-menu {
    background: transparent;
    border-radius: 0;
    box-shadow: none;
    /* display: none; */
  }
  /* .categories-menu.categories-menu--desktop {
    display: block;
  } */

  .categories-menu__options {
    height: auto !important;
  }

  .categories-menu__options ul {
    border-top: none;
  }

  .categories-menu__item {
    background-color: #162F60;
    border-radius: 23px;
    transition: .6s ease;
    /* padding: 0 .5rem; */
  }
  .categories-menu__item:hover {
    background: rgba(0, 0, 0, .17);
  }
  .categories-menu__item.target-selected {
    background-color: rgba(192, 205, 252, .57);
    /* color: ; */
  }

  .categories-button {
    height: 100%;
    padding: 0 .5rem;
  }
  
  .categories-button__icon {
    display: none;
  }


  /* .categories-menu__options.categories-menu__options--desk {
    height: auto;
    overflow: initial;
  } */
}