header { 
  background-color: var(--color-primary);
  height: 60px;
}

.price, .n-colab-input {
  background: #F6F8FE;
  border: 1px solid #D9E3FC;
  border-radius: 16px;
  /* padding: 1.5rem 1rem; */
}

@media only screen and (min-width: 1020px) {
  .sticky-price {
    position: sticky;
    top: 50px;
  }
}

#n-colab {
  padding: .5rem 1rem;
  width: 85%;
  font-size: 2rem;
  font-weight: 600;
  color: var(--color-primary);
  text-align: center;
}

.plan-type .input-control {
  width: 100%;
}
@media only screen and (min-width: 1020px) {
  .plan-type .input-control {
    width: 50%;
  }
}

.plan-type__detail {
  background: #F6F8FE;
  box-shadow: 0 0 16px 4px rgba(43,60,106, .12);
  border-radius: 1rem;
  cursor: pointer;
  padding: 1.5rem 1rem;
}
.plan-type__detail li:not(:last-of-type) {
  margin-bottom: .5rem;
}
.plan-type__detail.SELECTED {
  background: #2F4DAA;
  color: #fff;
}
.plan-type__detail.SELECTED h3 {
  color: #fff;
}
@media only screen and (min-width: 1020px) {
  .plan-type__detail {
    padding: 2rem 1.5rem;
    height: 100%;
  }
}

.price__current,
.price__mount {
  color: #2F4DAA;
  font-size: 1.25rem;
  font-weight: 900;
}

@media only screen and (min-width: 767px) {
  .price__current {
    font-size: 1.5rem;
  }

  .price__mount {
    font-size: 1.75rem;
  }
}

.price__badge {
  background: #2B3C6A;
  border-radius: 8px;
  color: var(--color-white);
  padding: .25rem .5rem;
  position: absolute;
  right: .75rem;
  top: .5rem;
}

.price__tax {
  color: #F8A12A;
  font-weight: 600;
  font-size: 1.5rem;
}

#previous-price {
  text-decoration: line-through;
}

/* .price__without-discount {
  color: #2F4DAA;
} */

input[name="buk-plan"] {
  appearance: none;
  width: 0;
  height: 0;
}

.modules input[type="checkbox"],
.addons input[type="checkbox"] {
  cursor: pointer;
  height: 16px;
  width: 16px;
}

.modules .input-control,
.addons .input-control {
  display: flex;
  align-items: center;
  gap: 15px;
}

.modules .input-control label,
.addons .input-control label {
  background: #F6F8FE;
  border: 1px solid #D9E3FC;
  border-radius: 8px;
  cursor: pointer;
  height: 52px;
  width: 85%;
  padding: 0 1rem;
  position: relative;
}

.modules .input-control label span,
.addons .input-control label span {
  display: flex;
  align-items: center;
  height: 100%;
}