header {
  height: 50px;
  background-color: var(--color-primary);
  position: sticky;
  top: 0;
  z-index: 10;
}

button.btn--7 {
  font-weight: normal;
}

.banner {
  width: 100%;
  height: 500px;
  background-color: #1A2441;
}

[data-target-solution].selected {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: var(--color-white);
}
/* [data-target-solution].selected:hover {
  background-color: var(--bg-dark-light-blue);
  color: var(--color-primary);
  border-color: var(--bg-dark-light-blue);
} */

main.main--variant-ui-kit p {
  color: #1A2441;
}

.choose-solution {
  position: sticky;
  top: 40px;
  z-index: 10;
  background-color: var(--color-white);
  transition: all .6s ease;
}
.choose-solution.intersecting {
  box-shadow: var(--shadow-2);
  /* transition: all .6s ease ; */
}
@media only screen and (min-width: 1020px) {
  .choose-solution.intersecting {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}

.ft-color--2 {
  color: #1A2441 !important;
  font-weight: 400;
}

.sl-image {
  width: 491px;
  height: 300px;
  object-fit: contain;
}
@media only screen and (min-width: 1020px) {
  .sl-image {
    height: 330px;
  }
}

[data-solution] {
  display: none !important;
}
[data-solution].solution-show {
  display: grid !important;
  animation: showTarget 1s ease-in-out;
}

@keyframes showTarget {
  from { opacity: 0; }
  to { opacity: 1;; }
}