<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Building Happiness 2023</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Source+Sans+Pro:wght@300;400;700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="../css/main-23.css">
  <link rel="preload" as="style" href="../css/grid-system.css" onload="this.rel='stylesheet'">
  <link rel="preload" as="style" href="../css/utilities-spaces-23.css" onload="this.rel='stylesheet'">
  <link rel="stylesheet" href="../css/components/header-23-bh.css">
</head>
<body>
  <header>
    <nav class="boxer ds-flex jc-center ai-center jc-lg-between">
      <a href="#" class="nav__logo ">
        <img src="https://building-happiness.org/hubfs/logo-building-happiness.png" alt="logo Building Happiness">
      </a>
      
      <button class="nav__toggle" id="btn-collapse-mobile" aria-label="Abrir menu">
        <div class="nav__hamburger"></div>
      </button>

      <div class="nav__collapse">
        <ul class="nav__navigation">
          <li class="nav__item"><a href="#">Nosotros</a></li>
          <li class="nav__item"><a href="#">Metodología</a></li>
          <li class="nav__item">
            <button>Ranking
              <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M11.3133 0.740995C11.6192 0.997898 11.6589 1.45409 11.4019 1.75993L7.07395 6.9123C6.51082 7.58269 5.4859 7.60302 4.89664 6.95548L0.188326 1.78151C-0.0804997 1.4861 -0.0589466 1.0287 0.236466 0.75987C0.531878 0.491045 0.989283 0.512598 1.25811 0.808011L5.96642 5.98198L10.2944 0.829598C10.5513 0.523761 11.0075 0.484092 11.3133 0.740995Z"
                  fill="#323884" />
              </svg>
            </button>
            <div class="nav__submenu">
              <ul class="nav__submenu-wrap">
                <li class="nav_submenu-item">
                  <img src="https://www.buk.cl/hubfs/2023/Buk-ui-kit/header/Chile.svg" alt="Building Happiness Chile">
                  <a href="#">Chile</a>
                </li>
                <li class="nav_submenu-item">
                  <img src="https://www.buk.cl/hubfs/2023/Buk-ui-kit/header/Colombia.svg" alt="Building Happiness Colombia">
                  <a href="#">Colombia</a>
                </li>
                <li class="nav_submenu-item">
                  <img src="https://www.buk.cl/hubfs/2023/Buk-ui-kit/header/Peru.svg" alt="Building Happiness Perú">
                  <a href="#">Perú</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav__item"><a href="#">Workshops</a></li>
          <li><button class="btn btn-bh">Inscríbete en Building Happiness 2023</button></li>
        </ul>
      </div>

    </nav>
  </header>
  <main></main>

  <script src="../js/globals/header-bh-23.js"></script>
</body>
</html>