<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/components/header.css">
  <link rel="stylesheet" href="../css/components/preheader.css">
  <link rel="stylesheet" href="../css/components/footer.css">
  <link rel="stylesheet" href="../css/base.css">
  <link rel="stylesheet" href="../css/margins-paddings.css">
  <link rel="stylesheet" href="../css/grid-system.css">
  <title>Header - Preheader - Footer</title>
</head>
<body>
  <section class="buk-preheader">
    <div class="boxer-header buk-preheader__content">
      <div class="buk-preheader__left">
        <ul class="buk-preheader__links">
          <li id="bukSite">
            <a href="https://www.buk.cl/">Buk</a>
          </li>
          <li>
            <a href="https://www.buk.cl/starter">Starter</a>
          </li>
          <li id="appSite">
            <a href="https://www.buk.cl/app">App</a>
          </li>
        </ul>
  
      </div>
      <div class="buk-preheader__right">
  
        <ul class="buk-preheader__links">
          <li>
            <a href="https://www.buk.cl/nosotros">Nosotros</a>
          </li>
          <li class="buk-preheader--hide">
            <a href="https://www.buk.cl/trabaja-con-nosotros" target="_blank">Trabaja con Nosotros</a>
          </li>
          <li id="countries">
  
            <button class="buk-countries open-countries" id="countries-options">
              <img class="buk-flag__xs open-countries"
                src="https://www.buk.cl/hs-fs/hubfs/2020/buk-starter/Baneras-50x550/Chile.png?width=17&height=17&name=Chile.png"
                alt="buk chile">
              <span class="buk-preheader--hide open-countries">Chile</span>
              <span class="arrow-down open-countries">
                <i class="arrow-down__left open-countries"></i>
                <i class="arrow-down__right open-countries"></i>
              </span>
            </button>
            <ul class="buk-countries__submenu">
              <li class="buk-countries__container">
                <ul >
                  <li>
                    <a href="https://www.buk.cl/" class="buk-countries__link">
                      <img class="buk-flag__xs"
                        src="https://www.buk.cl/hs-fs/hubfs/2020/buk-starter/Baneras-50x550/Chile.png?width=17&height=17&name=Chile.png"
                        alt="Buk Chile" loading="lazy">
                      <span>Chile</span>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.buk.co/" class="buk-countries__link">
                      <img class="buk-flag__xs"
                        src="https://www.buk.cl/hs-fs/hubfs/2020/buk-starter/banderas-03.png?width=26&height=26&name=banderas-03.png"
                        alt="Buk Colombia" loading="lazy">
                      <span>Colombia</span>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.buk.pe/" class="buk-countries__link">
                      <img class="buk-flag__xs"
                        src="https://www.buk.cl/hs-fs/hubfs/2020/buk-starter/banderas-02.png?width=17&height=17&name=banderas-02.png"
                        alt="Buk Perú" loading="lazy">
                      <span>Perú</span>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.buk.mx/" class="buk-countries__link">
                      <img class="buk-flag__xs"
                        src="https://www.buk.cl/hs-fs/hubfs/2020/buk-starter/banderas-04.png?width=17&height=17&name=banderas-04.png"
                        alt="Buk Mexico" loading="lazy">
                      <span>Mexico</span>
                    </a>
                  </li>
                </ul>

              </li>
            </ul>
  
          </li>
        </ul>
  
      </div>
    </div>
  </section>

  <header>
    <nav class="boxer-header buk-nav">
      <div class="buk-logo">
        <a href="https://www.buk.cl/">
          <img src="https://www.buk.cl/hubfs/2022/BUK/Home%20nuevo/Header/buk-logo.svg" alt="buk-logo">
        </a>
      </div>
    
      <button class="buk-xs-menu" id="btn-mobile" aria-label="Abrir menu">
        <div class="buk-xs-menu__hamburger"></div>
      </button>
    
      <ul class="buk-menu">
        <li class="buk-menu__item">
          <button class="buk-menu__link buk-menu__link--dropdown">
            Soluciones
            <span class="arrow-down">
              <i class="arrow-down__left"></i>
              <i class="arrow-down__right"></i>
            </span>
          </button>
    
          <ul class="buk-submenu">
            <li class="buk-pilar">
              <div class="buk-pilar__content">
                <div class="buk-pilar__icon">
                  <img src="https://www.buk.cl/hubfs/2022/BUK/Pilares/icono-gestiona.png" alt="Gestiona" loading="lazy">
                </div>
                <span class="buk-pilar__name">Gestiona</span>
              </div>
    
              <ul class="buk-pilar__list">
                <li class="buk-pilar__label">
                  <a href="https://www.buk.cl/gestion-de-personas">Gestión de Personas</a>
                </li>
                <li class="buk-pilar__label">
                  <a href="https://www.buk.cl/sistema-de-remuneraciones">Remuneraciones</a>
                </li>
                <li class="buk-pilar__label">
                  <a href="https://www.buk.cl/asistencia">Control de Asistencia</a>
                </li>
                <li class="buk-pilar__label">
                  <a href="https://www.buk.cl/firma-electronica">Firma Digital y Gestión Documental</a>
                </li>
                <li class="buk-pilar__label">
                  <a href="https://www.buk.cl/adelantos-de-sueldo">Adelantos de Sueldo</a>
                  <!-- <span class="new-solution">Nuevo</span> -->
                </li>
              </ul>
    
            </li>
            <li class="buk-pilar">
              <div class="buk-pilar__content">
                <div class="buk-pilar__icon">
                  <img src="https://www.buk.cl/hubfs/2022/BUK/Pilares/icono-atrae.png" alt="Atrae" loading="lazy">
                </div>
                <span class="buk-pilar__name">Atrae</span>
              </div>
    
              <ul class="buk-pilar__list">
                <li class="buk-pilar__label">
                  <a href="https://www.buk.cl/seleccion">Selección</a>
                </li>
                <li class="buk-pilar__label">
                  <a href="https://www.buk.cl/onboarding">Onboarding</a>
                </li>
              </ul>
    
            </li>
            <li class="buk-pilar">
              <div class="buk-pilar__content">
                <div class="buk-pilar__icon">
                  <img src="https://www.buk.cl/hubfs/2022/BUK/Pilares/icono-potencia.png" alt="Potencia" loading="lazy">
                </div>
                <span class="buk-pilar__name">Potencia</span>
              </div>
    
              <ul class="buk-pilar__list">
                <li class="buk-pilar__label">
                  <a href="https://www.buk.cl/sistema-evaluacion-de-desempeno">Gestión del Desempeño</a>
                </li>
                <li class="buk-pilar__label">
                  <a href="https://www.buk.cl/capacitaciones">Capacitaciones</a>
                </li>
                <!-- <li class="buk-pilar__label">
                  <a href="https://www.buk.cl/productividad">Productividad</a>
                </li> -->
              </ul>
    
            </li>
            <li class="buk-pilar">
              <div class="buk-pilar__content">
                <div class="buk-pilar__icon">
                  <img src="https://www.buk.cl/hubfs/2022/BUK/Pilares/icono-compromete.png" alt="Compromete" loading="lazy">
                </div>
                <span class="buk-pilar__name">Compromete</span>
              </div>
    
              <ul class="buk-pilar__list">
                <li class="buk-pilar__label">
                  <a href="https://www.buk.cl/comunicaciones">Comunicación y Reconocimiento</a>
                </li>
                <li class="buk-pilar__label">
                  <a href="https://www.buk.cl/beneficios">Beneficios</a>
                </li>
                <li class="buk-pilar__label">
                  <a href="https://www.buk.cl/encuesta-libre">Encuestas</a>
                </li>
              </ul>
    
            </li>
          </ul>
          <!-- Fin Submenu -->
        </li>
        <li class="buk-menu__item">
          <a href="https://www.buk.cl/servicios" class="buk-menu__link">Servicios</a>
        </li>
        <li class="buk-menu__item">
          <a href="https://www.buk.cl/precios" class="buk-menu__link">Precios</a>
        </li>
        <li class="buk-menu__item">
          <button class="buk-menu__link buk-menu__link--dropdown">
            Nuestra Familia
            <span class="arrow-down">
              <i class="arrow-down__left"></i>
              <i class="arrow-down__right"></i>
            </span>
          </button>
          <ul class="buk-submenu buk-submenu--family">
            <li class="buk-family">
              <a href="https://www.buk.cl/clientes">Clientes</a>
            </li>
            <li class="buk-family">
              <a href="https://www.buk.cl/partners">Partners</a>
            </li>
            <li class="buk-family">
              <a href="https://www.comunidad-buk.com/" target="_blank">Comunidad Buk</a>
            </li>
          </ul>
    
        </li>
        <li class="buk-menu__item">
          <a href="https://www.buk.cl/blog" class="buk-menu__link">Blog</a>
        </li>
        <li class="buk-cta">
          <div class="buk-cta__wrap-button">
            <a href="#formulario" class="buk-cta__button buk-cta__button--btn1">Empieza ahora</a>
          </div>
          <div class="buk-cta__wrap-button">
            <a href="https://www.buk.cl/app?hsLang=es-cl" class="buk-cta__button buk-cta__button--btn2">Descarga la App</a>
          </div>
        </li>
    
      </ul>
      <!-- Fin Menú -->

    </nav>
  </header>

  <main style="height: 90rem;"></main>

  <footer id="footer-2022" class="full">
    <div class="container-top full">
  
      <div class="boxer">
        <div class="wrapper wrapper-flex">
  
          <div class="wrap wrap-one">
            <h3>Menú</h3>
            <ul>
              <li><a href="https://www.buk.cl/servicios" role="menuitem" target="_self">Servicios</a></li>
              <li><a href="https://www.buk.cl/precios" role="menuitem" target="_self">Precios</a></li>
              <li><a href="https://www.buk.cl/nosotros" role="menuitem" target="_self">Nosotros</a></li>
              <li><a href="https://www.buk.cl/partners" role="menuitem" target="_self">Partners</a></li>
              <li><a href="https://www.buk.cl/blog" role="menuitem" target="_self">Blog</a></li>
              <li><a href="https://www.buk.cl/privacidad" role="menuitem" target="_self">Privacidad</a></li>
              <li><a href="https://www.buk.cl/privacidad-y-proteccion-de-datos" role="menuitem" target="_self">Protección
                  de datos</a></li>
              <li><a href="https://www.comunidad-buk.com" role="menuitem" target="_blank">Comunidad</a></li>
              <li><a href="https://buk.buk.cl/trabaja-con-nosotros" role="menuitem" target="_blank">Trabaja con
                  Nosotros</a></li>
            </ul>
          </div>
  
          <div class="wrap wrap-two">
            <h3>Soluciones</h3>
            <div class="block block-flex">
              <div class="group group-one">
                <h3>Atrae</h3>
                <ul style="margin-top:0;">
                  <li><a href="https://www.buk.cl/seleccion" rel=" noopener" role="menuitem" target="_self">Selección</a>
                  </li>
                  <li><a href="https://www.buk.cl/onboarding" rel=" noopener" role="menuitem"
                      target="_self">Onboarding</a></li>
                </ul>
  
                <h3>Gestiona</h3>
                <ul style="margin-top:0;">
                  <li><a href="https://www.buk.cl/gestion-de-personas" title="Gestión de personas (HCM)" rel=" noopener"
                      role="menuitem" target="_self">Gestión de Personas</a></li>
                  <li><a href="https://www.buk.cl/sistema-de-remuneraciones" title="Remuneraciones" rel="noopener"
                      role="menuitem" target="_self">Remuneraciones</a></li>
                  <li><a href="https://www.buk.cl/asistencia" title="Asistencia" rel=" noopener" role="menuitem"
                      target="_self">Control de Asistencia</a></li>
                  <li><a href="https://www.buk.cl/firma-electronica" title="Firma electrónica" rel=" noopener"
                      role="menuitem" target="_self">Firma Digital y Gestión Documental</a></li>
                  <li><a href="https://www.buk.cl/adelantos-de-sueldo" title="adelanto de sueldo" rel=" noopener"
                      role="menuitem" target="_self">Adelanto de Sueldo</a></li>
                </ul>
  
              </div>
              <div class="group group-two">
                <h3>Potencia</h3>
                <ul style="margin-top:0;">
                  <li><a href="https://www.buk.cl/desempeno" rel=" noopener" role="menuitem" target="_self">Gestión del
                      Desempeño</a></li>
                  <li><a href="https://www.buk.cl/capacitaciones" rel=" noopener" role="menuitem"
                      target="_self">Capacitaciones</a></li>
                </ul>
                <h3>Compromete</h3>
                <ul style="margin-top:0;">
                  <li><a href="https://www.buk.cl/comunicaciones" rel=" noopener" role="menuitem"
                      target="_self">Comunicación y Reconocimiento</a></li>
                  <li><a href="https://www.buk.cl/beneficios" rel=" noopener" role="menuitem"
                      target="_self">Beneficios</a></li>
                  <li><a href="https://www.buk.cl/encuesta-libre" rel=" noopener" role="menuitem"
                      target="_self">Encuestas</a></li>
                </ul>
              </div>
            </div>
          </div>
  
          <div class="wrap wrap-three">
            <h3>Contacto</h3>
            <ul>
              <li><a href="mailto:contacto@buk.cl">contacto@buk.cl</a></li>
              <li>Ventas:</li>
              <li><a href="tel:+56229382645" rel="noopener">+56 2 2938 2645</a></li>
              <li>Servicio al Cliente:</li>
              <li> <a href="tel:+56225823370" rel="noopener">+56 2 2582 3370</a></li>
              <li><a href="mailto:sac@buk.cl ">sac@buk.cl</a></li>
              <li><a
                  href="https://www.google.com/maps/place/Buk+-+Software+de+Recursos+Humanos/@-33.4046435,-70.5742788,17z/data=!3m1!4b1!4m5!3m4!1s0x9662ced7f7c9eaff:0x7f08e4bbb8e1d43a!8m2!3d-33.404648!4d-70.5720901">Rosario
                  Norte 555, Of. 1801 Las Condes, Santiago</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  
  
    <div class="container-bottom full">
      <div class="boxer">
  
        <div class="wrapper flex">
          <div class="wrap">
            <div class="logo-footer">
              <div class="imagen-logo">
                <img src="https://www.buk.cl/hubfs/Buk/footerLogo.png" style="max-width:142px;" loading="lazy"
                  alt="BUK CREA UN LUGAR DE TRABAJO MÁS FELIZ" width="142px" height="55">
              </div>
              <h4>Crea un lugar de trabajo <span>más feliz :)</span></h4>
            </div>
          </div>
          <div class="wrap wrap-flex">
            <div class="copy-right "><span>© Buk</span> <span id="copyright-year"></span></div>
            <div class="social-link">
              <ul>
                <li><a class="facebook" href="https://www.facebook.com/bukRRHH/" title="Síguenos en Facebook"
                    target="_blank" rel="nofollow"><img
                      src="https://www.buk.cl/hubfs/2022/BUK/Home%20nuevo/rrss%20footer/Iconos%20web%20soluciones%2025%20jun-68.svg"
                      alt="icono buk facebook" style="width:30px;height:30px;" loading="lazy"></a></li>
                <li><a class="instagram" href="https://www.instagram.com/buk_rrhh/" title="Síguenos en Instagram"
                    target="_blank" rel="nofollow"><img
                      src="https://www.buk.cl/hubfs/2022/BUK/Home%20nuevo/rrss%20footer/Iconos%20web%20soluciones%2025%20jun-66.svg"
                      alt="icono buk instagram" style="width:30px;height:30px;" loading="lazy"></a></li>
                <li><a class="linkedin" href="https://www.linkedin.com/company/bukhr/" title="Síguenos en LinkedIn"
                    target="_blank" rel="nofollow"> <img
                      src="https://www.buk.cl/hubfs/2022/BUK/Home%20nuevo/rrss%20footer/Iconos%20web%20soluciones%2025%20jun-67.svg"
                      alt="icono buk linkeding" style="width:30px;height:30px;" loading="lazy"> </a></li>
                <li><a class="youtube" href="https://www.youtube.com/channel/UC381JL3t0TwII2VfwwJHu8w/featured"
                    target="_blank" rel="nofollow" title="Síguenos en Youtube"><img
                      src="https://www.buk.cl/hubfs/2022/BUK/Home%20nuevo/rrss%20footer/Iconos%20web%20soluciones%2025%20jun-64.svg"
                      alt="icono buk youtube" style="width:30px;height:30px;" loading="lazy"> </a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </footer>
  
  <script src="../js/globals/header.js" defer></script>
  <script src="../js/globals/preheader.js" defer></script>
  <script src="../js/globals/footer.js" defer></script>
</body>
</html>