<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Globals Components</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;900&family=Source+Sans+Pro:wght@300;400;700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="../css/base.css">
  <link rel="preload" as="style" href="../css/grid-system.css" onload="this.rel='stylesheet'">
  <link rel="preload" as="style" href="../css/margins-paddings.css" onload="this.rel='stylesheet'">
  <link rel="stylesheet" href="../css/components/footer-23.css">
</head>
<body>
  
  <main></main>

  <footer>
    <div class="boxer buk-py-4">
      <div class="buk-grid">

        <div class="footer__menu buk-col buk-col-lg-3">
          <h3 class="">Menú</h3>
          <ul class="footer__list">
            <li><a href="">Experiencia</a></li>
            <li><a href="">Precios</a></li>
            <li><a href="">Nosotros</a></li>
            <li><a href="">Partners</a></li>
            <li><a href="">Blog</a></li>
            <li><a href="">Recursos</a></li>
            <li><a href="">Privacidad</a></li>
            <li><a href="">Protección de Datos</a></li>
            <li><a href="">Comunidad</a></li>
            <li><a href="">Trabaja con Nosotros</a></li>
          </ul>
        </div>
        <div class="footer__solutions buk-col buk-col-lg-6">
          <h3>Soluciones</h3>
          <div class="ds-flex">
            <div class="footer__atrae">
              <h4>Atrae</h4>
              <ul class="footer__list">
                <li><a href="">Selección</a></li>
                <li><a href="">Onboarding</a></li>
              </ul>
            </div>
            <div class="footer__potencia">
              <h4>Potencia</h4>
              <ul class="footer__list">
                <li><a href="">Gestión del Desempeño</a></li>
                <li><a href="">Capacitaciones</a></li>
              </ul>
            </div>
            <div class="footer__gestiona">
              <h4>Gestiona</h4>
              <ul class="footer__list">
                <li><a href="">Gestión de Personas</a></li>
                <li><a href="">Remuneraciones</a></li>
                <li><a href="">Control de Asistencia</a></li>
                <li><a href="">Firma Digital y Gestión Documental</a></li>
                <li><a href="">Adelantos de Sueldo</a></li>
              </ul>
            </div>
            <div class="footer__compromete">
              <h4>Compromete</h4>
              <ul class="footer__list">
                <li><a href="">Comunicación y Reconocimiento</a></li>
                <li><a href="">Beneficios</a></li>
                <li><a href="">Encuestas</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer__contact buk-col buk-col-lg-3">
          <h3>Contacto</h3>
          <div class="footer__sales">
            <h4>Ventas</h4>
            <ul>
              <li><a href="">contacto@buk.cl</a></li>
              <li><a href=""></a>+56 2 2938 2645</li>
            </ul>
          </div>
          <div class="footer__sac">
            <h4>Servicio al Cliente</h4>
            <ul>
              <li><a href=""></a>+56 2 2582 3370</li>
              <li><a href="">sac@buk.cl</a></li>
            </ul>
          </div>
          <div class="footer__adress">
            <a href="">Rosario Norte 555, Of. 1801 Las Condes, Santiago</a>
          </div>
          
        </div>

      </div>
    </div>
  </footer>

  <script src="../js/globals/footer.js" defer></script>
</body>
</html>