<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Building Happiness 2023</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Source+Sans+Pro:wght@300;400;700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="../css/main-23.css">
  <link rel="preload" as="style" href="../css/grid-system.css" onload="this.rel='stylesheet'">
  <link rel="preload" as="style" href="../css/utilities-spaces-23.css" onload="this.rel='stylesheet'">
  <link rel="stylesheet" href="../css/components/header-23-bh.css">
</head>
<body>
  <header>
    <nav class="boxer ds-flex jc-center jc-lg-between">
      <a href="#" class="nav__logo">
        <img src="https://building-happiness.org/hubfs/logo-building-happiness.png" alt="logo Building Happiness">
      </a>
      
      <button class="nav__toggle" id="btn-collapse-mobile" aria-label="Abrir menu">
        <div class="nav__hamburger"></div>
      </button>

      <div class="nav__collapse">
        <ul class="nav__navigation">
          <li class="nav__item"><a href="#">Nosotros</a></li>
          <li class="nav__item"><a href="#">Metodología</a></li>
          <li class="nav__item"><button>Ranking</button></li>
          <li class="nav__item"><a href="#">Workshops</a></li>
          <li><button class="btn btn-bh">Inscríbete en Building Happiness 2023</button></li>
        </ul>
      </div>

    </nav>
  </header>
  <main></main>
</body>
</html>