<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Source+Sans+Pro:wght@300;400;700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="../css/base.css">
  <link rel="stylesheet" href="../css/components/testimonials.css">
  <link rel="preload" as="style" href="../css/grid-system.css" onload="this.rel='stylesheet'">
  <link rel="preload" as="style" href="../css/margins-paddings.css" onload="this.rel='stylesheet'">
  <title>Testimonios</title>
</head>
<body>
  <section class="preheader"></section>
  <header></header>
  <main>
    <!-- <div class="banner" style="height: 30rem; backgound-color: grey;"></div> -->
    <section class="testimonials buk-py-4">
      <div class="boxer">
        <h2 class="txt-center buk-mb-4">Testimonios</h2>
        <div class="buk-grid">
          <div class="buk-col buk-col-md-4 buk-col-lg-3 buk-row-ed-lg-2 buk-row-st-lg-2">
            <div class="shadow-box-fluid testimony-card">
              <figure class="testimony-card__img buk-mb-2">
                <img src="https://www.buk.cl/hubfs/logo%20fintual-02.webp" alt="">
              </figure>
              <div class="testimony-card__p-content buk-mb-3 ">
                <p>Buk hasta ahora ha sido increíble, son partners de nosotros; y van a ser nuestra plataforma de recursos humanos
                completa.</p>
              </div>
              <div class="testimony-card__info">
                <h4 class="name">Sebatián Lisboa</h4>
                <p class="charge">Payroll</p>
              </div>
            </div>
          </div>
          <div class="buk-col buk-col-md-8 buk-col-lg-6 buk-row-ed-lg-1">
            <div class="shadow-box-fluid testimony-card ds-lg-flex jc-lg-between ai-lg-center">
              <figure class="testimony-card__img buk-mb-2 order-lg-2">
                <img src="https://www.buk.cl/hubfs/logoFMA.webp" alt="">
              </figure>
              <div class="testimony-card__p-content buk-mb-3 order-lg-3">
                <p>El utilizar Adelantos de Pago ha aliviado el trabajo de nuestro departamento de Recursos Humanos, simplificando el
                proceso de anticipos de sueldos, con un importante ahorro de tiempo. Para nuestros trabajadores la experiencia de uso
                también ha sido muy buena, encontrándose muy satisfechos por su facilidad de uso y rapidez para contar con sus anticipos
                mensuales.</p>
              </div>
              <div class="testimony-card__info order-lg-1">
                <h4 class="name">Carolina Abarca Fuentes</h4>
                <p class="charge">Jefe Dpto RRHH</p>
              </div>
            </div>
          </div>
          <div class="buk-col buk-col-lg-6 buk-row-ed-lg-2">
            <div class="shadow-box-fluid testimony-card ds-lg-flex jc-lg-between ai-lg-center">
              <figure class="testimony-card__img buk-mb-2 order-lg-2">
                <img src="https://www.buk.cl/hubfs/logo%20komax-02-2.webp" alt="">
              </figure>
              <div class="testimony-card__p-content buk-mb-3 order-lg-3">
                <p>Tenemos la convicción de que cuando existe una relación comercial, lo más importante es crecer juntos. Creo que con Buk
                ha sido así. Dado nuestro rubro, teníamos complicaciones con el cálculo de las variables, fueron la escucha y la
                solución; sacamos el máximo provecho a las herramientas.</p>
              </div>
              <div class="testimony-card__info order-lg-1">
                <h4 class="name">Victor Guerra</h4>
                <p class="charge">Subgerente de Personas</p>
              </div>
            </div>
          </div>
          <div class="buk-col buk-col-lg-3 buk-row-ed-lg-2 buk-row-st-lg-1 buk-col-ed-lg-13">
            <div class="shadow-box-fluid testimony-card">
              <figure class="testimony-card__img buk-mb-2">
                <img src="https://www.buk.cl/hubfs/a%20besalco-02.webp" alt="">
              </figure>
              <div class="testimony-card__p-content buk-mb-3">
                <p>Como recursos humanos tenemos la responsabilidad de pagar correcta y oportunamente a 6.900 trabajadores. Algo tan simple habría sido muy difícil de cumplir si no nos hubiésemos cambiado a la plataforma BUK, que nos permitió estar tranquilos.</p>
              </div>
              <div class="testimony-card__info">
                <h4 class="name">Guadalupe Pérez</h4>
                <p class="charge">Subgerente de RRHH</p>
              </div>
            </div>
          </div>
          <div class="buk-col buk-col-lg-3  buk-row-ed-lg-1 buk-row-st-lg-1 buk-col-ed-lg-10">
            <div class="shadow-box-fluid testimony-card ">
              <figure class="testimony-card__img buk-mb-2">
                <img src="https://www.buk.cl/hubfs/subsole-logo.webp" alt="">
              </figure>
              <div class="testimony-card__p-content buk-mb-3">
                <p>Gracias a Buk monitoreamos en tiempo real las horas efectivas trabajadas, y nuestros indicadores de rentabilidad asociadas.</p>
              </div>
              <div class="testimony-card__info">
                <h4 class="name">Christian Lavín B.</h4>
                <p class="charge">Analista Control de Gestión</p>
              </div>
            </div>
          </div>
          <div class="buk-col-lg-3 buk-row-ed-lg-2 v-desktop">
            <figure class="quotation-mark txt-center">
              <img src="https://www.buk.cl/hubfs/2022/BUK/Home%20nuevo/comillas-testimonios-buk.webp" alt="comillas testimonios">
            </figure>
          </div>


        </div>

      </div>
    </section>
  </main>
</body>
</html>