.buk-modal {
  display: none;
  animation: fadeOverlayModal .35s linear;
  background: rgba(0, 0, 0, .75);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 30;
  outline: 0;
}

.buk-modal.buk-modal--show {
  display: block;
}

.buk-modal__dialog {
  display: flex;
  align-items: center;

  position: relative;
  max-width: 550px;
  margin: 1.25rem auto 1.25rem auto;
  min-height: calc(100% - 1.75rem * 2);
  width: auto;

}

.buk-modal__content {
  animation: fadeDownDialog .4s linear;
  background-color: var(--wb-bg-modules);
  border-radius: 9px;
  padding: 1rem;
  width: 100%;

}

.buk-modal__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: .75rem;
  border-bottom: 2px solid #70707038;
}

.buk-modal__header p {
  font-family: var(--font-family-title);
  font-size: 1.5rem;
  color: var(--color-blue-buk);
}

.buk-modal__header button {
  appearance: none;
  border: 2px solid #2f48a7;
  border-radius: 4px;
  cursor: pointer;
  padding: .3rem;
}

.buk-modal__header button:hover {
  opacity: .65;
}

.buk-modal__header button:focus {
  box-shadow: 0 0 0 3px rgba(116, 116, 119, 0.29);
  outline: 0;
}

.buk-modal__header button svg {
  vertical-align: middle;
}

.buk-modal__body p,
.buk-modal__body {
  font-size: 1.125rem;
}

@keyframes fadeOverlayModal {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeDownDialog {
  0% {
    transform: translateY(-55px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}